@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #0a192f;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a192f;
    --foreground: #ededed;
  }
}
.w-fluid {
  width: clamp(5rem, 8vw, 10rem);
}

body {
  color: rgba(237, 237, 237, 0.5);
  background: var(--background);
  font-family: var(--font-inter), -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  letter-spacing: var(--tracking-wide);
  font-weight: 200;
  font-size: 1rem;
  line-height: 1.625;
}

/* @layer components {
  .glass-hover {
    position: relative;
    overflow: hidden;
    border-radius: 0.5rem; // Rounded corners 
  }
  .glass-hover .glass-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    transition: background 0.3s ease;
    z-index: 0;
  }
  .glass-hover:hover .glass-overlay {
    background: rgba(255, 255, 255, 0.2);
  }
  .glass-hover > * {
    position: relative;
    z-index: 1;
  }
} */